/* CSS - Cascading Style Sheets */
:root {
  /* elemento principal/raiz do html inteiro*/
  --color-background: #f0f0f7; /* --nome define uma variavel, de cor no caso*/
  --color-primary-lighter: #9871f5;
  --color-primary-light: #916bea;
  --color-primary: #8257e5;
  --color-primary-dark: #774dd6;
  --color-primary-darker: #6842c2;
  --color-secondary: #04d361;
  --color-secondary-dark: #04bf58;
  --color-title-in-primary: #ffffff;
  --color-text-in-primary: #d4c2ff;
  --color-text-title: #32264d;
  --color-text-complement: #9c98a6;
  --color-text-base: #6a6180;
  --color-line-in-white: #e6e6f0;
  --color-input-background: #f8f8fc;
  --color-button-text: #ffffff;
  --color-box-base: #ffffff;
  --color-box-footer: #fafafc;
  --color-small-info: #c1bccc;

  /*tamanho da fonte padrão: 16px - 100% - 1rem*/
  font-size: 60%; /* controle das medidas rem */
}

/* propriedade * significa muitos elementos */
* {
  margin: 0;
  padding: 0;
  /* padding (preenchimento) funciona em sentido horário:
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
  padding-right: 0; */
  box-sizing: border-box; /* conta tamanho da caixa a partir da borda*/
}

html,
body {
  height: 100vh; /* viewport height (altura) ajusta ao tamanho da tela*/
}

body {
  backgound: var(--color-background);
  display: flex; /* visualização/exibição do elemento */
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea {
  /* font: 500 1.6rem Poppins; é o mesmo que as três declarações abaixo:*/
  font-weight: 500;
  font-family: Poppins;
  font-size: 1.6rem;
  color: var(--color-text-base);
}

#container {
  /* box model */
  width: 90vw; /* viewport width (largura) ajusta ao tamanho da tela*/
  max-width: 700px;
}
